@import "glyphicons";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/fira-code/FiraCode-Light.woff2') format('woff2'),
       url('../fonts/fira-code/FiraCode-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/fira-code/FiraCode-Regular.woff2') format('woff2'),
       url('../fonts/fira-code/FiraCode-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/fira-code/FiraCode-Medium.woff2') format('woff2'),
       url('../fonts/fira-code/FiraCode-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/fira-code/FiraCode-Bold.woff2') format('woff2'),
       url('../fonts/fira-code/FiraCode-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  --height-header: 107px; /* 59px navbar + 48px breadcrumbs */
  --height-debugger-buttons: 70px; /* 38px buttons + 32 px margin */
  --height-pagination-buttons: 50px; /* 40px buttons + 10px margin */
  --height-pagination-buttons-teacher: 48px; /* 38px buttons + 10px margin */
  --height-progress-bar: 74px; /* 26px bar + 48px buttons */
}

pre,
code,
.code {
  font-family: 'Fira Code';
  font-size: 14px;
  color: #7289DA;
}

a {
  color: #54b4ff;
}

.navbar {
  position: fixed;
  top: 0;
  height: 37px;
  width: 100%;
  z-index: 10;
  border-top: 1px solid #7289DA;
  background: #7289DA;
  color: #1a1a1a;
  font-size: 21px;
  font-weight: 500;
}

.navbar .form-group,
.navbar .alert {
  margin-bottom: 0;
}

.oi-x{
  margin-right: -11px !important;
}

.navbar__button {
  color: #1a1a1a;
  background: none;
  border: none;
  font-size: 16px;
  padding: 6px 12px;
  margin-top: -7px;
  margin-left: 6px !important;
}

.navbar__button:hover {
  color: inherit;
  background-color: #667bc5;
}

.breadcrumb_red {
  background: #ff8484;
  color: #fff;
  border-radius: 0;
}

.breadcrumb_red a {
  color: #fff;
}

.breadcrumb {
  z-index: 2;
  position: fixed;
  top: 37px;
  height: 30px;
  width: 100%;
  background: #7f94e0;
  color: #1a1a1a;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 15px;
  padding: 5px 0px 4px 17px;
}

.breadcrumb a {
  color: #1a1a1a;
}

.mymain {
  margin-top: 115px;
}

.mymain__inner {
  height: calc(99vh - var(--height-header));
  overflow: hidden;
}

.sidebar {
  border-right: 1px solid #141414;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar a{
  -webkit-user-select: none;
  -webkit-user-drag: none;
  color: #7289DA;
}

.sidebar.sidebar--closed {
  max-width: 52px;
}

.sidebar .nav-item {
  position: relative;
  border-bottom: 1px solid #141414;
  min-height: 80px;
  cursor: pointer;
}

.sidebar .nav-item:first-child {
  border-top: 1px solid #141414;
}

.sidebar .nav-item.active {
  background: #404040;
}

.sidebar .nav-item.active:after {
  content: '';
  display: block;
  height: calc(100% + 2px);
  width: 3px;
  position: absolute;
  top: -1px;
  right: -1px;
}

.sidebar .nav-item:hover{
  background-color: #404040;
}

.sidebar .nav-link {
  color: #fff;
  font-size: 15px;
}

.nav-item-status {
  position: relative;
  top: 3px;
}

.nav-item__icon:before {
  font-size: 20px;
}

.nav-item__icon.oi-media-record:before {
  color: #555454;
  font-size: 27px;
}

.nav-item__icon.oi-circle-check:before {
  color: #1ad16c;
}

.nav-item__icon.oi-circle-x:before {
  color: #ff2626;
}

.sidebar__icon--open,
.sidebar__icon--close {
  display: block;
  margin: 10px 0;
}

.sidebar__icon--close {
  text-align: right;
}

.sidebar__icon--open:hover,
.sidebar__icon--close:hover {
  text-decoration: none;
}

.card-title {
  font-size: 20px;
  color: #6ebfff;
}

.row:not(.nav-item, .debugger-wrapper){
  margin-right: 150px;
  margin-left: 0px;
}

@media (max-width: 768px){
  .row:not(.nav-item){
    margin-right: -15px;
  }
}

.chapters-title h5, .exams-title h5{
  font-size: 30px;
  font-weight: 600;
}

.chapters-title, .exams-title{
  margin-bottom: 15px;
  margin-left: 15px;
}

.exams-title{
  margin-top: 20px;
}

.chapter:hover{
  background-color: #404040;
  transform: translateY(-3px);
  color: white;  
  transition: .05s;
}

.main-content {
  height: 100%;
}

.main-content--scroll {
  overflow: scroll;
  overflow-x: hidden;
}

.main-content--stretched {
  flex: 0 0 calc(100vw - 60px);
  max-width: calc(100vw - 60px);
}

.toolbar {
  margin: 1rem;
  justify-content: center;
}

.editor-wrapper {
  height: calc(100vh - var(--height-header) - var(--height-debugger-buttons));
}

.console-wrapper {
  white-space: pre;
  height: 20%;
  font-size: small;
  overflow: auto;
  border-radius: 0;
  border: none;
  margin: 0;
}

.katex{
  font: normal 1.13em "Montserrat", "Times New Roman", "serif" !important;
}

.code {
  overflow-x: auto;
  color: #000000;
  height: 100%;
  padding: 15px;
}

.code--half {
  height: 80%;
}

.code__line-number {
  text-align: right;
}

.code__breakpoint::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 30%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.code__breakpoint--red::before {
  background: #dc3545;
}

.code__breakpoint--yellow::before {
  background: #ffc107;
}

.code__breakpoint-teacher {
  padding: 0;
  cursor: pointer;
}

.code__breakpoint-teacher.code__breakpoint::before {
  top: 5px;
  left: 70%;
  width: 11px;
  height: 11px;
}

.code__breakpoint-teacher.code__breakpoint:hover::before{
  background: rgba(220, 53, 69, 0.5);
}

.code .row {
  flex-wrap: nowrap;
}

.input-field {
  display: inline-block;
  vertical-align: middle;
  width: 240px;
  margin-right: 2px;
}

.wrongValue,
.wrongValue2 {
  color: #721c24;
  background-color: #f8d7da;
}

.slide--image img {
  width: 90%;
  height: auto;
}

.slide .slide--markdown div p
{
	max-width: 125ch;
	line-height: 1.2rem;
}

pre {
  color: white;
  background: black;
  border: 1px solid;
  border-color: #7289DA;
  padding: 10px;
}

.debugger {
  overflow-y: auto;
  padding-right: 0;
}

.debugger-wrapper--ba {
  margin: 0 0 10px;
}

.debugger-wrapper--fa {
  height: calc(100vh - var(--height-header) - var(--height-debugger-buttons) - var(--height-progress-bar));
  width: calc(100% + 15px);
}

.debugger-wrapper--teacher {
  width: calc(100% + 15px);
}

.pagination-wrapper {
  margin: 0 0 10px;
}

.pagination {
  justify-content: center;
}

.btn-pagination {
  margin-left: 2px;
}

.progress {
  margin-bottom: 10px;
}

.progress__button {
  margin-bottom: 10px;
}

.col--last {
  text-align: right;
}

.col--scrollable {
  overflow-y: auto;
}

.table tbody+tbody {
  border-top: 2px solid darkgray;
}

td {
  border-right: 1px solid #404040;
}

.heap__inner-table {
  width: 100%;
}

.cell3 {
  width: 50%;
}

.myGlyphMarginClass {
  background: red;
  border-radius: 50%;
  border:1px solid #000;
  width: 10px;
  height: 10px;
  transform: scale(0.5);
  position: relative;
  margin-left: 15px;
}
.myGlyphMarginHitClass {
  background: #ffc400;
  border-radius: 50%;
  border:1px solid #000;
  width: 10px;
  height: 10px;
  z-index: -1;
  transform: scale(0.5);
  position: relative;
  margin-left: 15px;
}
.myGlyphMarginHitClass::before {
  position: absolute;
  top: -1px;
  left: -28px;
  font-size: 23px;
}
.myContentClassDotted {
  background: rgba(170, 252, 170, 0.2);
  border-bottom: 2px dotted #31aa4b;
}
.myContentClass {
  background: rgba(170, 252, 170, 0.2);
}
.myContentEmptyClass {
  background: rgba(170, 252, 170, 0.2);
  border-left: 2px dotted #31aa4b;
  border-bottom: 2px dotted #31aa4b;
}
.HiddenTestContent {
  background: black;
  color: black !important;
  z-index: 5 !important;
  position: relative;
}
.HiddenTestContent_no_after {
  background: black;
  color: black !important;
  z-index: 5 !important;
  position: relative;
}
.myBreakPointHitClass {
  background: rgba(255, 179, 39, 0.2);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #696969; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #7289DA; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6374b3; 
}

.spacing--bottom {
  margin: 0 0 20px;
}

.spacing--bottom-xs {
  margin-bottom: 10px;
}

.spacing--left {
  margin-left: 20px;
}

.spacing--left-xs {
  margin-left: 10px;
}

.spacing--right {
  margin-right: 20px;
}

.spacing--right-xs {
  margin-right: 10px;
}

.row--block  {
  display: block;
  flex-wrap: unset;
}

.switch-group {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  width: 60px;
  height: 35px;
  margin-bottom: 0;
}

.switch__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(58, 54, 181, 0.3);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 35px;
}

.switch__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.switch__input:checked + .switch__slider {
  background-color: #3a36b5;
}

.switch__input:focus + .switch__slider {
  box-shadow: 0 0 1px #3a36b5;
}

.switch__input:checked + .switch__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch__copy {
  margin-bottom: 0;
  margin-left: 10px;
}


.attribute__row {
  font-family: Consolas, "Courier New", monospace;
  font-size: 17px;
  background-color: #a3a3a3;
}

.debugger.container-fluid {
  padding-bottom: 20px;
}

.border-3 {
  border-width:3px !important;
}

.custom_text_area:read-only {
  color: #fff;
  background-color: #404040;
}

.tippy-tooltip.red-theme .tippy-backdrop {
  background-color: red;
}

body {
  counter-reset: section;                       /* Set a counter named 'section', and its initial value is 0. */
}
.HiddenTestContent::after{
  counter-increment: section;                   /* Increment the value of section counter by 1 */
  content: counter(section);                   /* Display the word 'Section ', the value of 
                                                   section counter, and a colon before the content
                                                   of each h3 */
  color: white;
  position: absolute;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 700;
}

.monaco-editor
{
	padding-top: 5px;
}